body {
  text-align: center;
}

svg {
  margin-top: 32px;
  border: 1px solid #aaa;
}

.person.found rect {
  fill: #F99FC9;
}

.person rect {
  fill: #ABCAE9;
  stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
  cursor: pointer;
}

.person.nolittles {
  cursor: default;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.name {
  font-size: 24px;
  font-weight: 400;
}

.node {
	cursor: pointer;
}
.node text {
  font: 10px sans-serif;
}

/*Just to ensure the select2 box is "glued" to the top*/
.search {
  width: 100%;
}

.delicatePink {
  stroke: #F99FC9;
}

.delicateBlue {
  stroke: #ABCAE9;
}

.inner {
    stroke: #AFA
}
