body {
  text-align: center;
}

svg {
  margin-top: 32px;
  border: 1px solid #aaa;
}

.person rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.name {
  font-size: 24px;
  font-weight: 400;
}

.node {
	cursor: pointer;
}
.node text {
  font: 10px sans-serif;
}

.found {
	fill: #ff4136;
	stroke: #ff4136;
}

/*Just to ensure the select2 box is "glued" to the top*/
.search {
  width: 100%;
}
